.bookingDiv {
    border-radius: 25px;
    background: #f7f7f7;
    padding: 20px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 5px 5px grey;

}
#allBookingsTitle {
    text-align: left;
    width: 80%;
    margin: auto;
}

#filterTypeSelect {
    background-color: #d0eaf8;
    font-size: 2.5vh;
}
#filterTypeSelect select, #filterTypeSelect input{
    padding: 1vh 3vw;
    box-sizing: border-box;
    display: inline-block;
    font-size: 2vh;
}

#filterTypeSelect p, #filterTypeSelect label{
    display: inline-block;
    padding-left: 2vw;
    padding-right: 1vw;
}

#filterResult{
    display: inline-block;
}

.typeOfBookingTitle {
    background-color: #d0eaf8;
    width: 100%;
    font-size: 3vh;
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userSNameInputButton{
    font-family: Gordon;
    src: url("../fonts/Gordon.ttf");
    background-color: #006B99;
    font-size: 2.3vh;
    color: white;
    border: none;
    padding: 1.2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-left: 2vw;
}

#userSNameInputButton:hover{
    background-color: #007ABF;
    font-size: 2.5vh;
}

#navSectionDiv {
    position: sticky;
    width: 100%;
    top: 0;
}

#navSectionDiv li {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#navSectionDiv ul {
    text-align: center;
    width: 100%;
    list-style: none;
}

#navSectionDiv a {
    text-decoration: none;
    display: block;
    color: black;
    transition: all 50ms ease-in-out;
    /* 💡 This small transition makes setting of the active state smooth */
}

.infoAllBookingsDiv {
    background: #f7f7f7;
    padding: 2vw;
    box-shadow: 10px 5px 5px grey;
    font-size: 1.5vh;
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear
}

.infoAllBookingsDiv.hide-me { /**From https://stackoverflow.com/questions/44591803/css3-animate-or-transition-elements-into-position-after-removal-of-an-element-ab*/
    animation: hideme 1s forwards linear;
    opacity: 0;
}
@keyframes hideme {
    100% {
      height: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

.userName, .dateText {
    font-size: 2.3vh;
}

.cancelButton {
    font-family: Gordon;
    src: url("../fonts/Gordon.ttf");
    background-color: #009fee;
    font-size: 2.3vh;
    color: white;
    border: none;
    padding: 2vh;
}

.noBookingsMessage{
    width: 100%;
    font-size: 2vh;
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popUpContainer{
    height:100%;
    width: 100%;
    position:fixed;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.384);
    z-index:10000;
    top: 0;
}

#popUpDiv{
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cancelBookingPopUpButtonsDiv {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100px;
}

#cancelBookingPopUpButtonsDiv button {
    font-family: Gordon;
    src: url("../fonts/Gordon.ttf");
    border: none;
    padding: 1vh;
    margin: 1vh;
    font-size: 2.3vh;
    color: white;
}

#confirmDeleteButton {
    grid-column: 1;
    background-color: #9FBF00;
}

#cancelDeleteButton{
    grid-column: 2;
    background-color: #E4002B;
}

#confirmDeleteButton:hover {
    font-size: 2.6vh;
}

#cancelDeleteButton:hover{
    font-size: 2.6vh;
}

@media screen and (min-width: 900px) {
    #mainContent {
        display: grid;
        grid-template-columns: 10% 90%;
    }
    #results {
        grid-column: 2;
        grid-row: 1;
    }
    #navSectionDiv {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
        height: 100%;
        border-right: 1px solid rgb(177, 177, 177);
    }
    #navSectionDiv ul{
        position: sticky;
        top: 2rem;
        padding-left: 0;
    }
    #navSectionDiv a {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 899px) {
    #navSectionDiv {
        background-color: #f7f7f7;
    }
    #navSectionDiv ul {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 1.5vw;
    }

    #upcomingBookingsNav {
        grid-column: 1;
    }
    
    #pastBookingsNav {
        grid-column: 2;
    }

}