.bookingDiv {
    border-radius: 25px;
    background: #f7f7f7;
    padding: 20px;
    width: 100%;
    margin: 20px;
    box-shadow: 10px 5px 5px grey;

    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
}

.infoPendingBookingsDiv{
    grid-column: 1
}

.approveRejectButtonsDiv{
    grid-column: 2;
    display: grid;
    grid-template-rows: 50% 50%
}