@font-face {
  font-family: Gordon;
  src:url("../fonts/Gordon.ttf");
}

body {
  font-family: Gordon;
  padding-top: 100px;;
  margin-bottom: 100px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.spacer {
  width: 100%;
  height: 150px;
  display: flex;
}

.searchbar {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #d0eaf8;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-inner {
    background-color: #007ABF;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-image {
    position: absolute;
    right: -770px;
    height: 100%;
    z-index: 1;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
  }
  
  .header-inner {
      background-color: #007ABF;
      top: 0px;
      left: 0px;
      height: 50px;
      width: 100%;
      position: absolute;
      overflow: hidden;
  }
  
  .header-image {
      position: absolute;
      top: 0;
      left: -570px;
      height: 100px;
      z-index: 1;
      overflow: hidden;
      pointer-events: none;
  }

  .header-logo {
    position: absolute;
    left: 1.25rem;
    padding-top: 1.25rem;
    width: 250px;
    z-index: 2;
  }

  .header-profile {
    position: absolute;
    right: 0.4rem;
    padding-top: 0.4rem;
    height: 40%;
    z-index: 2;
  }

  /* Add a black background color to the top navigation */
.topnav {
  margin-top: 50px;
  background-color: #009FEE;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

  .landing {
      margin: 0px;
      width: 100%;
      height: 100%;
    background-image: url("../images/EIG Background Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60px
  }
  
  .landing-text-image {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 100px;
    width: 800px;
  }

  .booknow-button {
    position: absolute;
    right: 2.5rem;
    bottom: 1.25rem;
    z-index: 3;
    background: #006b99;
    border: 0px;
  }

  .booking-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

.flex-roomdetails{
  display: flex;
  justify-content: center;
}

  .flex-roomdetails input, textarea {
    padding: 12px;
    border: none;
    resize: none;
    width: 100%;
  }

  .flex-roomdetails label {
    font-family: Gordon;
    padding-bottom: 2px;
  }


  .booking-top-tr {
    text-align: left;
    width: 80%;
    margin: auto;
  }

  .booking-input-text {
      padding: 12px;
      border: none;
      width: 100%;
      font-size: 1rem;
      color:black;
      text-align: center;
      font-family: monospace;
  }

  .booking-input-button {
    padding: 10px;
    width: 100%;
    min-width: 150px;
    color: white;
    font-size: 1rem;
    background: linear-gradient(135deg,#712177 85%,transparent 85%);
    border: none;
    text-align: left;
    font-family: Gordon;
    font-size: 1.25rem;
}

.booking-input-button:hover {
  background: linear-gradient(135deg,#006b99 85%,transparent 85%);
  cursor: pointer;
}

.booking-room {
    width: 100%;
    height: 300px;
}

.tab-style {
  background-color: #c4a1c9;
  transform: skewX(-45deg);
  min-width: 30%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  margin: .75rem;
}

.tab-style:hover {
  background-color:#712177;
}

.tab-style span{
  display: inline-block;
  transform: skewX(45deg);
  font-size:x-large;
  pointer-events: none;
  user-select: none;
  color: black;
}

.tab-style:hover span{
  color: white;
}

.booking-table td {
  margin: auto;
  padding: 0px;
}

.booking-sub-container {
  max-width: 900px;
  padding: 15px;
  background: #d0eaf8;
}

.booking-sub-container span {
  font-family: Gordon;
  font-size: 1.25rem;
}

.booking-img-wrapper {
  overflow: hidden;
}

.booking-img {
  width: 100%; 
  height: 200px; 
  background-image: url(/images/Innovation-Schoolhill-Interior.jpg); 
  background-size: cover; 
  background-position: center;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transform: scale(1.03);
}

.booking-img-text {
  position: relative;
  margin-top: -54px;
  top: 54px;
  background: linear-gradient(135deg,rgba(113,33,119,.8) 55%,transparent 55%);
  color: white;
  width: 30%;
  font-size: xx-large; 
  padding: 10px;
  z-index: 1;
}

.room-details {
  width: 70%;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: ZonaPro-Regular, arial, helvetica, sans-serif;
}

.chair {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: white;
  font-family: Gordon;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.chair:hover {
  background-color: #f1f1f1;
}

.chair img {
  padding: 5px;
  background: #77dd77;
}

.chair-selected {
  background: #006b99 ;
  color: white;
}

.chair-selected:hover {
  background: #005275 ;
}

.chair-unavailable {
  background: slategrey;
  color: white;
  cursor: default;
}

.chair-unavailable:hover {
  background: slategrey;
}

.chair-unavailable img {
  background: #ff6961;
}

.room-input {
  display: flex;
  flex-direction: column;
}

.room-input label {
  padding-top: 10px;
}

.chair-selected span {
  background: #006b99;;
}

.book-button {
  padding: 10px;
  background: linear-gradient(-45deg,#712177 20%,transparent 20%);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25rem; 
  font-family: Gordon;
  text-align: right;
  margin: 0;
  margin-top: 5px;
}

.book-button:hover {
  background: linear-gradient(-45deg,#005275 20%,transparent 20%);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 10px 0;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  width: 100%;
  bottom: 55%;
  left: 0%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility:visible;
  opacity:1;
  filter:none;
}

.tooltip:hover div {
  filter: grayscale();
  transition: -webkit-filter 0.3s linear;
  -webkit-filter: grayscale(1);
  -webkit-transition : -webkit-filter 0.3s linear;
}