@font-face {
  font-family: Gordon;
  src:url("../fonts/Gordon.ttf");
}

body {
  font-family: Gordon;
  padding-top: 100px;;
  margin-bottom: 100px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-inner {
    background-color: #007ABF;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-image {
    position: absolute;
    right: -770px;
    height: 100%;
    z-index: 1;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
  }
  
  .header-inner {
      background-color: #007ABF;
      top: 0px;
      left: 0px;
      height: 50px;
      width: 100%;
      position: absolute;
      overflow: hidden;
  }
  
  .header-image {
      position: absolute;
      top: 0;
      left: -570px;
      height: 100px;
      z-index: 1;
      overflow: hidden;
      pointer-events: none;
  }

  .header-logo {
    position: absolute;
    left: 1.25rem;
    padding-top: 1.25rem;
    width: 250px;
    z-index: 2;
  }

  .header-profile {
    position: absolute;
    right: 0.4rem;
    padding-top: 0.4rem;
    height: 40%;
    z-index: 2;
  }

  /* Add a black background color to the top navigation */
.topnav {
  margin-top: 50px;
  background-color: #009FEE;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

  .landing {
      margin: 0px;
      width: 100%;
      height: 100%;
    background-image: url("../images/EIG Background Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60px
  }
  
  .landing-text-image {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 100px;
    width: 800px;
  }

  .booknow-button {
    position: absolute;
    right: 2.5rem;
    bottom: 1.25rem;
    z-index: 3;
    background: #006b99;
    border: 0px;
  }

  .booking-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .booking-top-tr {
    text-align: left;
    width: 80%;
    margin: auto;
  }

  .booking-input-text {
      padding: 19px;
      border-collapse: collapse;
      border: 0px;
      width: 100%;
      font-size: 1rem;
      color:black;
  }

  .booking-input-button {
    padding: 18px;
    width: 100%;
    background-color: white;
    border-color: #712177;
    border-width: 2px;
    font-size: 1rem;
}

.booking-room {
    width: 100%;
    height: 300px;
}

.tab-style {
  background-color: #c4a1c9;
  transform: skewX(-45deg);
  min-width: 30%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  margin: .75rem;
}

.tab-style:hover {
  background-color:#712177;
}

.tab-style span{
  display: inline-block;
  transform: skewX(45deg);
  font-size:x-large;
  pointer-events: none;
  user-select: none;
  color: black;
}

.tab-style:hover span{
  color: white;
}

.booking-table td {
  background-color: white;
  margin: auto;
  padding: 0px;
}

.booking-sub-container {
  padding: 15px;
}

.booking-img {
  width: 100%; 
  height: 200px; 
  background-image: url(/images/Innovation-Schoolhill-Interior.jpg); 
  background-size: cover; 
  background-position: center;
  border-bottom: solid #006b99 5px;
}

.booking-img-text {
  background: linear-gradient(135deg,white 80%,transparent 20%);
  width: 30%;
  font-size: xx-large; 
  display: inline-block; 
  padding: 10px
}

.booking-textarea {
  resize: none;
  width: 99%;
}

.room-details {
  width: 80%;
  background-color: #006b99;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: ZonaPro-Regular, arial, helvetica, sans-serif;
}

.chair {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60px;
  text-align: center;
  color: black;
  border: solid #bae0f5 5px ;
  margin: 5px;
  cursor: pointer;
}

.chair img {
  padding: 5px;
  background: #77dd77;
}

.chair span {
  background: #bae0f5;;
  padding-top: 4px;
  width: 100%;
}

.chair-unavailable {
  border: solid slategrey 5px ;
  color: white;
  cursor: default;
}

.chair-unavailable img {
  background: #ff6961;
}

.chair-unavailable span {
  background: slategrey;
}

.room-input {
  display: flex;
  flex-direction: column;
}

.room-input label {
  padding-top: 10px;
}

.chair-selected {
  border: solid #006b99 5px ;
  color: white;
}

.chair-selected span {
  background: #006b99;;
}