<table style="width: 80%; table-layout: fixed; margin: auto;">
    <tr>
        <th>
            <td style="width: 25%; padding: 7px;">
                <a id="room1a" href="javascript:void(0)" style="text-decoration: none;" onclick="navigate(this)">
                    <div style="background-color: #0072bc; padding: 4px;" id="room1">
                        <img src="./images/Innovation-Station.jpg" style="width: 100%;">
                        <div id="room1Status" style="height: 30%; background-color: green; color: white; font-size: large; text-align:left; padding: 10px;">

                        </div>
                        <div id="room1name" style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                            Innovation Station
                            <span class="fas fa-arrow-right"></span>
                        </div>
                    </div>
                </a>
            </td>
            <td style="width: 25%; padding: 7px;">
                <a id="room2a" href="javascript:void(0)" style="text-decoration: none;" onclick="navigate(this)">
                    <div style="background-color: #0072bc; padding: 4px;" id="room2">
                        <img src="./images/Innovation-Schoolhill-Interior.jpg" style="width: 100%;">
                        <div id="room2Status" style="height: 30%; background-color:peru ; color: white; font-size: large; text-align:left; padding: 10px;">
                        </div>
                        <div id="room2name" style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                            ONE Tech Hub
                            <span class="fas fa-arrow-right"></span>
                        </div>
                    </div>
                </a>
            </td>
            <td style="width: 25%; padding: 7px;">
                <a id="room3a" href="javascript:void(0)" style="text-decoration: none;" onclick="navigate(this)">
                    <div style="background-color:slategrey; padding: 4px;" id="room3">
                        <img src="./images/Innovation-Station.jpg" style="width: 100%;">
                        <div id="room3Status" style="height: 30%; background-color: red; color: white; font-size: large; text-align:left; padding: 10px;">
                        </div>
                        <div id="room3name" style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                            Room 3
                            <span class="fas fa-ban"></span>
                        </div>
                    </div>
                </a>
            </td>
            <td style="width: 25%; padding: 7px;">
                <a id="room4a" href="javascript:void(0)" style="text-decoration: none;" onclick="navigate(this)">
                    <div style="background-color:slategrey; padding: 4px;" id="room4">
                        <img src="./images/Innovation-Station.jpg" style="width: 100%;">
                        <div id="room4Status" style="height: 30%; background-color: red; color: white; font-size: large; text-align:left; padding: 10px;">
                        </div>
                        <div id="room4name" style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                            Room 4
                            <span class="fas fa-ban"></span>
                        </div>
                    </div>
                </a>
            </td>
        </td>
    </tr>
</table>