<table style="width: 80%; table-layout: fixed; margin: auto;">
    <tr>
        <th>
            <td style="width: 33%; padding: 7px;">
                <a href="/room" style="text-decoration: none;">
                    <div style="background-color: #0072bc; padding: 4px;" id="room1">
                        <img src="./images/Innovation-Station.jpg" style="width: 100%;">
                        <div style="height: 30%; background-color: green; color: white; font-size: large; text-align:left; padding: 10px;">
                            20 free desk(s) available
                        </div>
                        <div style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                            Innovation Station
                            <span class="fas fa-arrow-right"></span>
                        </div>
                    </div>
                </a>
            </td>
            <td style="width: 33%; padding: 7px;" id="room">
                <a href="/room" style="text-decoration: none;">
                    <div style="background-color: #0072bc; padding: 4px;">
                        <img src="./images/Innovation-Schoolhill-Interior.jpg" style="width: 100%;">
                        <div style="height: 30%; background-color:peru ; color: white; font-size: large; text-align:left; padding: 10px;">
                            6 free desk(s) available
                        </div>
                        <div style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                            ONE Tech Hub
                            <span class="fas fa-arrow-right"></span>
                        </div>
                    </div>
                </a>
            </td>
            <td style="width: 33%; padding: 7px;" id="room3">
                <a>
                    <div style="background-color:slategrey; padding: 4px;">
                        <img src="./images/Innovation-Station.jpg" style="width: 100%;">
                        <div style="height: 30%; background-color: red; color: white; font-size: large; text-align:left; padding: 10px;">
                            Unavailable
                        </div>
                        <div style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                            Room 3
                            <span class="fas fa-ban"></span>
                        </div>
                    </div>
                </a>
            </td>
        </td>
    </tr>
</table>