<table style="width: 100%;">
    <tr>
        <td>
            <input class="booking-input-text" type="text" placeholder="Please select date">
        </td>
        <td>
            <select class="booking-input-text" required>
                <option value="coffee">01:00</option>
                <option value="coffee">02:00</option>
                <option value="coffee">03:00</option>
                <option value="coffee">04:00</option>
                <option value="coffee">05:00</option>
                <option value="coffee">06:00</option>
                <option value="coffee">07:00</option>
                <option value="coffee">08:00</option>
                <option value="coffee">09:00</option>
                <option value="coffee">10:00</option>
                <option value="coffee">11:00</option>
                <option value="coffee">12:00</option>
                <option value="coffee">13:00</option>
                <option value="coffee">14:00</option>
                <option value="coffee">15:00</option>
                <option value="coffee">16:00</option>
                <option value="coffee">17:00</option>
                <option value="coffee">18:00</option>
                <option value="coffee">19:00</option>
                <option value="coffee">20:00</option>
                <option value="coffee">21:00</option>
                <option value="coffee">22:00</option>
                <option value="coffee">23:00</option>
            </select>
        </td>
        <td>
            <select class="booking-input-text" required>
                <option value="coffee">01:00</option>
                <option value="coffee">02:00</option>
                <option value="coffee">03:00</option>
                <option value="coffee">04:00</option>
                <option value="coffee">05:00</option>
                <option value="coffee">06:00</option>
                <option value="coffee">07:00</option>
                <option value="coffee">08:00</option>
                <option value="coffee">09:00</option>
                <option value="coffee">10:00</option>
                <option value="coffee">11:00</option>
                <option value="coffee">12:00</option>
                <option value="coffee">13:00</option>
                <option value="coffee">14:00</option>
                <option value="coffee">15:00</option>
                <option value="coffee">16:00</option>
                <option value="coffee">17:00</option>
                <option value="coffee">18:00</option>
                <option value="coffee">19:00</option>
                <option value="coffee">20:00</option>
                <option value="coffee">21:00</option>
                <option value="coffee">22:00</option>
                <option value="coffee">23:00</option>
            </select>
        </td>
        <td>
            <button class="booking-input-button">SEARCH</button>
        </td>
    </tr>
</table>