<img class="header-image" src="/images/Upper_Shape_Darker.png">

<div class="header">
    <img class="header-logo" src="/images/RGULogo_Grey.png">
    <img class="header-profile" src="/images/ProfilePic.png">
    <div class="header-inner">
</div>

<div class="topnav">
    <a href="/allbookings">All Bookings</a>
    <a href="/bookingrequests">Pending Bookings</a>
    <a href="/mybookings">My Bookings</a>
    <a href="/booking">Booking</a>
    <a href="/login">Home</a>
</div> 
