<div class="header">
    <img class="header-image" src="./images/EIG_Banner.png">
    <img class="header-logo" src="./images/RGULogo.png">
    <img class="header-profile" src="./images/ProfilePic.png">
    <div class="header-inner">
</div>