<img class="header-image" src="/images/Upper_Shape_Darker.png">

<div class="header">
    <img class="header-logo" src="/images/RGULogo_Grey.png">
    <img class="header-profile" src="/images/ProfilePic.png">
    <div class="header-inner">
</div>


<div class="topnav" style="height: 50px;">
    <% if(session.loggedin) { %>
    <% if(session.isAdmin) { %>
        <a href="/allbookings">All Bookings</a>
        <a href="/pendingRequests">Pending Requests</a>
        <a href="/insights">Insights</a>
        <a href="/calendar">Calendar</a>
    <% } %>
    <% if (!session.isAdmin) { %>
    <a href="/mybookings">My Bookings</a>
    <% } %>
    <a href="/type">Book Now!</a>
    <% if(session.isAdmin) { %>
    <a href="/login">Home</a>
    <% } %>
    <% if(!session.isAdmin) {%>
    <a href="/login">Home</a>
    <% } %>  
    <% } %>
</div>

