<div class="booking-img-text">RoomName</div>
<div class="booking-img-wrapper">
    <img class="booking-img">
</div>
<div class="room-details">
    <form action="" method="POST" style="margin: 0;">
        <table class="roomdetails-table" style="width: 100%;">
            <tr>
                <td>
                    <div class="booking-sub-container room-input">
                        <span>Booking Information</span>
                        <label for="name">Name</label>
                        <input type="text" name="name" placeholder="John Smith" required>
                        <label for="number">Contact number</label>
                        <input type="text" name="number" placeholder="123456789" required>
                        <label for="email">Email</label>
                        <input type="" name="email" placeholder="email@email.com" required>
                        <label for="role">Role</label>
                        <input type="" name="role" placeholder="Student / Staff / Other" required> 
                    </div>
                </td>
                <td style="width: 220px;">
                    <div class="booking-sub-container" id="seats">
                        <span>Seat Selection</span><br>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="booking-sub-container" style="height: auto;">
                        <label for="ta_reason">Booking justification</label>
                        <textarea class="booking-textarea" name="reason" id="ta_reason" rows="5" required></textarea>   
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: right;" class="book-button">
                        BOOK
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>