<div class="room-details">
    <form action="" method="POST" style="margin: 0;">
        <table class="booking-table" style="width: 100%;">
            <tr>
                <td colspan="2">
                    <div class="booking-img">
                        <div class="booking-img-text">RoomName</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 33%;" rowspan="2">
                    <div id="seats" style="height: 100%;">
                    </div>
                </td>
                <td>
                    <div class="booking-sub-container room-input">
                        <label for="name" style="font-weight: bold;">Name</label>
                        <input type="text" name="name" placeholder="John Smith" required>
                        <label for="number" style="font-weight: bold;">Contact number</label>
                        <input type="text" name="number" placeholder="123456789" required>
                        <label for="email" style="font-weight: bold;">Email</label>
                        <input type="" name="email" placeholder="email@email.com" required>
                        <label for="ta_reason" style="font-weight: bold;">Booking justification</label>
                        <textarea class="booking-textarea" name="reason" id="ta_reason" rows="10" required style="font-size: 16px"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align: right;" class="book-button">
                        BOOK
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>