<table style="width: 80%; table-layout: fixed; margin: auto; background-color: cornflowerblue; margin-top: 7px;">
    <tr>
        <td style="width:100%" colspan="2">
            <div style="width: 100%; height: 300px; background-image: url(./images/Innovation-Schoolhill-Interior.jpg); background-size: cover; background-position: center;">
                <div style="background-color: white; font-size: xx-large; display: inline-block; padding: 10px">Tech one hub</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="background-color: white; height: 400px;" id="desks">
            </div> 
        </td>
        <td>
            <div style="background-color: white; height: 400px;">
                Select a desk
            </div>
        </td>
    </tr>
</table>