<<<<<<< HEAD
<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./scripts/allBookings.js"></script>

<html>

<body>
    <h1>All Bookings page</h1>
    
    <p>Filter by:</p>
    <select onchange="filterOptionSelected(this)">
        <option selected disabled hidden>Choose here</option>
        <option>Date and time</option>
        <option>User's name</option>
        <option>Room name</option>
    </select>
    <div id = "filterResult"></div>
    <div id = "results"></div>
</body>

=======
<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./scripts/allBookings.js"></script>
<link rel="stylesheet" type="text/css" href="./style/allBookings.css">

<html>

<body>
    <h1>All Bookings page</h1>
    
    <p>Filter by:</p>
    <select onchange="filterOptionSelected(this)">
        <option selected disabled hidden>Choose here</option>
        <option>Date and time</option>
        <option>User's name</option>
        <option>Room name</option>
    </select>
    <div id = "filterResult"></div>
    <div id = "results"></div>
</body>

>>>>>>> main
</html>