<<<<<<< HEAD
<!DOCTYPE html>
<html>
    <h1>Booking requests page</h1>
=======
<!DOCTYPE html>
<html>
    <h1>Booking requests page</h1>
    <%- include('../partials/bookingRequestsPartial.ejs') %>
>>>>>>> origin/Allegra-testing-Percy's-code
</html>