<link href="./style/styles.css" rel="stylesheet" type="text/css">
<script src="./scripts/booking.js"></script>
<script src="https://use.fontawesome.com/43bcdf0edc.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
<div id="dp"></div>

<body style="padding:0px; margin:0px;">
    <header>
        <%- include ("../partials/header") %>
    </header>


    <table class="booking-table">
        <tr style="height: 250px;">
            <th>
                <div class="booking-top-tr" style="padding-top: 100px;;">
                    <h1>Create a booking</h1>
                    <p>Select a time slot and a room below to begin</p>
                </div>
            </th>
        </tr>
        <tr style="height: 100px;">
            <th style="background-color: #d0eaf8;">
                <div class="booking-top-tr">
                    <table style="width: 100%;">
                        <tr>
                            <th>
                                <input class="booking-input-text" type="text" placeholder="Please select date">
                            </th>
                            <th>
                                <select class="booking-input-text" required>
                                    <option value="coffee">01:00</option>
                                    <option value="coffee">02:00</option>
                                    <option value="coffee">03:00</option>
                                    <option value="coffee">04:00</option>
                                    <option value="coffee">05:00</option>
                                    <option value="coffee">06:00</option>
                                    <option value="coffee">07:00</option>
                                    <option value="coffee">08:00</option>
                                    <option value="coffee">09:00</option>
                                    <option value="coffee">10:00</option>
                                    <option value="coffee">11:00</option>
                                    <option value="coffee">12:00</option>
                                    <option value="coffee">13:00</option>
                                    <option value="coffee">14:00</option>
                                    <option value="coffee">15:00</option>
                                    <option value="coffee">16:00</option>
                                    <option value="coffee">17:00</option>
                                    <option value="coffee">18:00</option>
                                    <option value="coffee">19:00</option>
                                    <option value="coffee">20:00</option>
                                    <option value="coffee">21:00</option>
                                    <option value="coffee">22:00</option>
                                    <option value="coffee">23:00</option>
                                </select>
                            </th>
                            <th>
                                <select class="booking-input-text" required>
                                    <option value="coffee">01:00</option>
                                    <option value="coffee">02:00</option>
                                    <option value="coffee">03:00</option>
                                    <option value="coffee">04:00</option>
                                    <option value="coffee">05:00</option>
                                    <option value="coffee">06:00</option>
                                    <option value="coffee">07:00</option>
                                    <option value="coffee">08:00</option>
                                    <option value="coffee">09:00</option>
                                    <option value="coffee">10:00</option>
                                    <option value="coffee">11:00</option>
                                    <option value="coffee">12:00</option>
                                    <option value="coffee">13:00</option>
                                    <option value="coffee">14:00</option>
                                    <option value="coffee">15:00</option>
                                    <option value="coffee">16:00</option>
                                    <option value="coffee">17:00</option>
                                    <option value="coffee">18:00</option>
                                    <option value="coffee">19:00</option>
                                    <option value="coffee">20:00</option>
                                    <option value="coffee">21:00</option>
                                    <option value="coffee">22:00</option>
                                    <option value="coffee">23:00</option>
                                </select>
                            </th>
                            <th>
                                <button class="booking-input-button">SEARCH</button>
                            </th>
                        </tr>
                    </table>
                </div>
            </th>
        </tr>
        <tr style="vertical-align: top;">
            <td>
                <table style="width: 80%; table-layout: fixed; margin: auto;">
                    <tr>
                        <td style="width: 33%; padding: 7px;">
                            <div style="background-color: #0072bc; padding: 4px;">
                                <img src="./images/Innovation-Station.jpg" style="width: 100%;">
                                <div style="height: 30%; background-color: green; color: white; font-size: large; text-align:left; padding: 10px;">
                                    20 free desk(s) available
                                </div>
                                <div style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                                    Innovation Station
                                    <span class="fas fa-arrow-right"></span>
                                </div>
                            </div>
                        </td>
                        <td style="width: 33%; padding: 7px;">
                            <div style="background-color: #0072bc; padding: 4px;">
                                <img src="./images/Innovation-Schoolhill-Interior.jpg" style="width: 100%;">
                                <div style="height: 30%; background-color:peru ; color: white; font-size: large; text-align:left; padding: 10px;">
                                    6 free desk(s) available
                                </div>
                                <div style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                                    ONE Tech Hub
                                    <span class="fas fa-arrow-right"></span>
                                </div>
                            </div>
                        </td>
                        <td style="width: 33%; padding: 7px;">
                            <div style="background-color:slategrey; padding: 4px;">
                                <img src="./images/Innovation-Station.jpg" style="width: 100%;">
                                <div style="height: 30%; background-color: red; color: white; font-size: large; text-align:left; padding: 10px;">
                                    Unavailable
                                </div>
                                <div style="height: 30%; color: white; font-size: x-large; padding: 10px; display: flex; justify-content: space-between;">
                                    Room 3
                                    <span class="fas fa-ban"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>
