<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./scripts/bookingRequestsLoad.js"></script>
<link rel="stylesheet" type="text/css" id="styleCSS" href="./style/bookingRequests.css">

<html>

<h1>Bookings Requests page</h1>
    <body>
        <div id="pendingBookingsDiv">
        </div>
    </body>
</html>