<!DOCTYPE html>
<html>
    <h1>Landing page</h1>
    <% if (message != "") { %>
        <h1> Message: <%= message%></h1>
    <%}%>
    <form action="a" method="get">
        <button type="submit">Test</button>
    </form>
    
</html>