<link href="./style/styles.css" rel="stylesheet" type="text/css">
<body class="landing">
    <header>
        <%- include ("../partials/header") %>
    </header>
    <footer>
        <%- include ("../partials/footer") %>
        <button class="booknow-button">
            <img src="./images/BookButton.png" id="BookButtonImg"/>
        </button>
    </footer>
</body>