<<<<<<< HEAD
<!DOCTYPE html>
<html>
    <h1>My Bookings page</h1>
=======
<!DOCTYPE html>
<html>
    <h1>My Bookings page</h1>
    <%- include('../partials/myBookingsPartial.ejs') %>
>>>>>>> origin/Allegra-testing-Percy's-code
</html>