<<<<<<< HEAD
<!DOCTYPE html>
<html>
    <h1>My Bookings page</h1>
</html>
=======

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./scripts/myBookingsLoad.js"></script>
<link rel="stylesheet" type="text/css" id="styleCSS" href="./style/myBookings.css">
<html>
<h1>My Bookings page</h1>
    <body>
        <div id="myBookingsDiv"></div>
    </body>

</html>
>>>>>>> JonNukeArea
