<link href="./style/styles.css" rel="stylesheet" type="text/css">
<script src="./scripts/booking.js"></script>
<script src="https://use.fontawesome.com/43bcdf0edc.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

<div id="dp"></div>

<body style="padding:0px; margin:0px;">
    <header>
        <%- include ("../partials/header") %>
    </header>


    <table class="booking-table">
        <tr style="height: 250px;">
            <td>
                <div class="booking-top-tr" style="padding-top: 100px;;">
                    <h1>Create a booking</h1>
                    <p>Select a seat to proceed</p>
                </div>
            </td>
        </tr>
        <tr style="height: 100px;">
            <th style="background-color: #d0eaf8;">
                <div class="booking-top-tr">
                    <%- include ("../partials/dateAndTimeSearchBar") %>
                </div>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td>
            </td>
        </tr>
    </table>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>
