<link href="./style/styles.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="./scripts/booking.js"></script>
<script src="https://use.fontawesome.com/43bcdf0edc.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>

    <table class="booking-table">
        <tr style="height: 150px;">
            <td>
                <div class="booking-top-tr">
                    <h1>Select a booking type</h1>
                    <p>By desk to book individiual desks</p>
                    <p>By event to book an entire room</p>
                </div>
            </td>
        </tr>
        <tr style="height: 100px;">
            <th style="background-color: #d0eaf8;">
                    <a href="type/desk" class="tab-style">
                        <span>Desk</span>
                    </a>
                    <a href="type/event" class="tab-style">
                        <span>Event</span>
                    </a>
            </td>
        </tr>
        <tr style="vertical-align: top;">
        </tr>
    </table>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>