body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 100vw;
}
.navBar {
    grid-column: 1 / -1;
    grid-row: 1/2 ;
    z-index: 1;
    width: 100vw;
}
.RGULogo {
    margin-top: 70px;
    margin-left: 40px;
    grid-column: 1/7;
    grid-row: 1/2;
    z-index: 6;
}
.ProfilePic {
    margin-top: 25px;
    margin-right: 50px;
    grid-column: 11;
    grid-row: 1/2;
    z-index: 5;
}
.BackgroundImage {
    grid-column-start: 1;
    grid-column: 1/-1;
    grid-row: 1/6;
    width: 100vw;
}
.LowerBar {
    grid-column: 1 / -1;
    grid-row: 5/6 ;
    z-index: 1;
    width: 100vw;
}
.BookButton {
    margin-right:150px;
    margin-top: 80px;
    grid-column: 8/11;
    grid-row: 5/6;
    z-index: 5;
}
.Campus1 {
    z-index: 9;
    grid-column: 1/4;
    grid-row: 3/4;
    border: 1px solid red;
  }
.City1 {
    z-index: 9;
    grid-column: 5/8;
    grid-row: 3/4;
    border: 1px solid red;
  }
.City2 {
    z-index: 9;
    grid-column: 9/12;
    grid-row: 3/4;
    border: 1px solid red;
  }


  /*Modal Stuff*/
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #009FEE;
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    grid-column: 8/11;
    grid-row: 5/6;
    z-index:9;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index:15;
}
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #BAE0F5;
  padding: 1rem 1.5rem;
  width: 400px ;
  border-radius: 0.5rem;
  z-index: 15;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  z-index: 15;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  z-index:15;
} 
